
body {
    background-color: #EEE;
    margin: 0;
    padding: 0;
overflow: hidden;
color: #000;
}

h2 {
    color: #000;
}

#textWrapper {
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
display: table;
}

#progressText {
margin: 0;
padding: 0;
width: 100%;
display: table-cell;
}
