version: '3'
services:
  node:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: node
    restart: always
    volumes:
      - ./app:/app
    ports:
      - "3035:3035"
    command: [sh, -c, npm install && npm start]